canvas {
  width: 100%;
  height: 100vh;
}
.exerImg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 100vh;
  flex-direction: column;
}

.exerImg img {
  width: 100%;
  height: 70%;
}

.canvasCenter {
  width: 70%;
  height: 100vh;
  position: relative;
}

.count {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 5%;
}

.count span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.tts {
  width: 100%;
  height: 30%;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tts span {
  font-size: 25px;
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.displayNone {
  display: none;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LoaderNone {
  display: none;
}
