.footer {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 2rem;
}

.copyright {
  margin-top: 1rem;
}

.icons a {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .footer {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 2rem;
  }

  .copyright {
    margin-top: 1rem;
  }

  .icons a {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
