.image2 {
  height: 70px;
}

.exercise {
  padding-left: 10rem;
}

.recoFlex {
  width: 100%;
  padding: 30px;
  background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.recoExer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recoExer .todayExer {
  font-size: 32px;
  font-weight: bold;
  color: rgb(70, 77, 82);
}

.exergo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: rgb(0 0 0 / 2%) -1px 1px 1px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 50px;
}

.exerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  background: rgb(255, 255, 255);
  padding: 0px auto;
  border-radius: 16px;
  margin-bottom: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .exerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 18px;
    font-weight: bold;
  }
}

.eeeeFlex {
  /* justify-content: space-between; */
  align-items: center;
  width: 510px;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 16px;
  /* margin-bottom: 18px; */
  font-weight: bold;
  /* display: inline-block; */
  text-align: center;
  /* display: table-cell; */
  margin: 10px auto;
  /* vertical-align: middle; */
}

.exer {
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  /* margin-bottom: 1rem; */
  width: 50%;
  /* display: flex; */
  float: right;
}

.exer span {
  /* text-align: center; */
}

.text2 span {
  margin-bottom: 10px;
}

.exer .sport {
  font-size: 16px;
}
.exer .time {
  font-size: 16px;
  margin-bottom: 4px;
}
.exer:nth-child(2n-1) {
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 4px;
  color: #eb5374;
}

.exer:nth-child(2n) {
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 4px;
  color: #5673eb;
}

.exer .compare {
  font-size: 11.5px;
  border-radius: 50px;
  opacity: 0.8;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 6px 0px 8px;
  font-weight: bold;
  background: #eff2ff;
}
.main {
  /* max-width: 100%; */
  /* margin: 0px auto; */
  /* display: flex; */
  /* display: flex;
  height: 100vh;
  justify-content: center; /*가로에서 가운데에 요소(자식요소)를 배치하겠다*/
  /* align-items: center; 세로에서 가운데에 요소를 배치하겠다 */
  /* border: solid 1px gray; */
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .main {
    max-width: 100%;
    padding-bottom: 0px;
  }
}

.Wrapper {
  text-align: center;
}

.Child {
  display: inline-block;
  vertical-align: middle;
}
