.mypage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  padding: 30px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  margin-bottom: 18px;
}

.mypageFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypageImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 18px;
}

.mypageImg img {
  width: 100%;
  border-radius: 50%;
}
.mypageInfo {
  display: flex;
  flex-direction: column;
}
