body {
  width: 414px;
  height: 736px;
  margin: 0 auto;
}
p,
span {
  margin: 0;
  padding: 0;
}

/*
  Header
*/

.header {
  width: 100%;
  height: 100px;
  background: #b7def8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__flex a {
  position: absolute;
  top: 30px;
  left: 15px;
  color: white;
}

.header__flex .header_title {
  font-size: 25px;
}

.header__flex .header_desc {
  font-size: 10px;
}
/*
  Recommend
*/
.recommend {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.recommend__img {
  width: 414px;
  overflow-x: auto;
  display: flex;
  align-items: center;
}
.recommend__img img {
  width: 170px;
  height: 150px;
  padding: 5px 15px;
}

.recommend__img .recommend__wrap p {
  padding: 0 15px;
}
.recommend span {
  font-size: 16px;
}

/*
  Rutin
*/
.wrap {
  margin-top: 30px;
}

.rutin {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.rutin__img {
  width: 414px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.rutin__img .rutin__wrap {
  width: 170px;
}
.rutin__img .rutin__wrap p {
  padding: 0px 15px;
}
.rutin__img img {
  width: 100%;
  padding: 5px 15px;
}

.rutin span {
  font-size: 16px;
}
